<article id="{{_id}}" class="m-auto my-4 feed-article">
    <div id="header" class="d-flex justify-content-between align-items-center bg-secondary px-2 rounded">
        <div id="post-author">
            <a href="/user/profile/{{author._id}}">
                <img id="profile-picture" class="img-fluid img-thumbnail" src="/static/img/anonymous-user.png" alt="">
            </a>

            <a href="/user/profile/{{author._id}}">{{author.username}}</a>

            <span>{{createdAt}}</span>
        </div>

        <div class="post-likes pe-1">
            <span class="font-italic">{{likes.length}} {{#if likesAreOne}} like {{else}} likes {{/if}}</span>
            {{#if currentUserIsAuthor}}
            <span><a href="/post/delete/{{_id}}">Delete</a></span>
            {{/if}}
        </div>
    </div>

    <div class="bg-light py-2">
        <div class="px-4">
            <p>{{content}}</p>
        </div>

        <div class="d-flex flex-row-reverse align-items-center post-actions pe-2">
            <a href="javascript:void(0)"><i class="bi bi-chat-dots-fill"></i></a>

            {{#if postIsLikedByCurrentUser}}
            <a href="/post/unlike/{{_id}}"><i style="color:red;" class="bi bi-heart-fill"></i></a>
            {{else}}
            <a href="/post/like/{{_id}}"><i style="color:black;" class="bi bi-heart-fill"></i></a>
            {{/if}}
        </div>

    </div>


    <div style="display: none;" class="comment-field text-justify bg-light border-top border-2 pt-3 pb-3 ps-1">
        <h5 class="pb-2 ps-2">Comments:</h5>

        <div class="comments-in-here">

        </div>

        <div class="d-flex align-items-end flex-column bd-highlight my-3 pe-4">
            <button class="btn btn-outline-primary mt-1 px-4 add-comment">Add Comment</button>
        </div>

        <form action="/comments/create/{{_id}}" method="POST" style="display: none;" class="comment-input">
            <div class="form-group m-auto post-from">
                <h6 class="pb-2 ps-2">Your comment:</h6>
                <textarea id="post-body" name="commentContent" class="form-control mt-3" rows="3"
                    placeholder="Share your toughts with the world...">
                        </textarea>

                <div class="d-flex align-items-end flex-column bd-highlight mb-3">
                    <input type="submit" class="btn btn-outline-primary mt-1 px-4" value="Add"></input>
                </div>
            </div>
        </form>
    </div>

</article>