<section class="mt-5 p-5 p-lg-0 pt-lg-5 text-center text-md-start">
    <div class="container">
        <div class="row">
            <div class="col border px-0">
                <div class="py-1">
                    <span>People you follow</span>
                </div>

                <div>
                    <ul class="list-group">
                        {{#if following}}
                        {{#each following}}
                        <li class="list-group-item list-group-item-light">
                            <img id="profile-picture" src="/user/images/{{_id}}">
                            <a href="/user/profile/{{_id}}">{{username}}</a>
                        </li>
                        {{/each}}
                        {{else}}
                        <li class="list-group-item list-group-item-light">You havent't followed anyone yet</li>
                        {{/if}}
                    </ul>
                </div>


            </div>

            <div class="col-7 border px-0">
                <div class="text-center bg-light border py-1">
                    <span>News Feed</span>
                </div>

                <form action="/post/create" method="POST">
                    <div class="form-group m-auto post-from">
                        <textarea id="post-body" name="postBody" class="form-control mt-3" rows="3"
                            placeholder="Share your thoughts with the world..."></textarea>

                        <div class="d-flex align-items-end flex-column bd-highlight mb-3">
                            <input type="submit" class="btn btn-outline-primary mt-1 px-4" value="Post"></input>

                        </div>
                    </div>
                </form>

                <div id="posts-holder">
                    {{#if posts}}
                    {{#each posts}}
                    {{> post}}
                    {{/each}}
                    {{else}}
                    <p class="text-center m-auto my-4">Nothing to show yet.</p>
                    {{/if}}
                </div>

            </div>

            <div class="col border px-0">
                <div class="col text-center border py-1">
                    <span>Chat Rooms</span>
                </div>

                <div class="list-group">
                    {{!-- Add aria-current="true"on the frontend to show current anchor --}}
                    {{#if rooms}}
                    {{#each rooms}}
                   <a href="/chat/room/{{this.roomId}}" class="list-group-item list-group-item-action">{{this.roomName}}</a>
                    {{/each}}
                    {{else}}
                    <a href="#" class="list-group-item list-group-item-action active">No rooms yet...</a>
                    {{/if}}
                </div>
            </div>

        </div>
    </div>

</section>

<script type="module" src="/static/js/comments.js"></script>
<script src="/static/js/scrollPostition.js"></script>
{{!--
<script src="/static/js/focusTextArea.js"></script> --}}